<html>
    <head>
        <style>
            body *{list-style-type: none}
            .clear{clear:both}
            .menu{margin-bottom:30px;clear:both}
            .menu li{margin-right:10px;float:left}
        </style>
    </head>
    <body>
        <ul class="menu">
            <li>
                <a href="{{ path('atm_badge_create_badge') }}">
                    Create Badge
                </a>
            </li>
            <li>
                <a href="{{ path('atm_badge_list_badges') }}">
                    Badges List
                </a>
            </li>
        </ul>
        <div class="clear"></div>
        {% block content %}{% endblock content %}
    </body>
</html>