{% extends 'ATMBadgeBundle:Badge:base.html.twig' %}

{% block content %}
    {% if errors is iterable %}
        {% for error in errors %}
            {{ error }}
        {% endfor %}
    {% endif %}
    <form action="{{ path('atm_badge_create_badge') }}" method="post" enctype="multipart/form-data">
        <fieldset>
            <legend>Name</legend>
            {{ form_widget(form.name) }}
        </fieldset>

        <fieldset>
            <legend>Description</legend>
            {{ form_widget(form.description) }}
        </fieldset>

        <fieldset>
            <legend>Image</legend>
            {{ form_widget(form.image) }}
        </fieldset>

        <fieldset>
            <legend>Roles for the badge</legend>
            {{ form_widget(form.userRoles) }}
        </fieldset>

        <fieldset>
            <legend>Entity to check</legend>
            {{ form_widget(form.relatedEntity) }}
        </fieldset>

        <fieldset>
            <legend>Engine to use</legend>
            {{ form_widget(form.engine) }}
        </fieldset>

        {{ form_rest(form) }}
        <input type="submit" value="Save">
    </form>
{% endblock content %}