{% extends 'ATMBadgeBundle:Badge:base.html.twig' %}

{% block content %}
    <ul style="margin-top:30px;">
    {% for badge in badges %}
        <li>
            <img src="{{ asset(badge.image) }}" style="width:50px;">
            {{ badge.name }} |
            {% for role in badge.userRoles %}
                {{ role }}
            {% endfor %}
            | {{ badge.relatedEntity }}
            | {{ badge.engine }}
            <ul>
                <li>
                    <a href="{{ path('atm_badge_create_rules',{ 'badgeId':badge.id }) }}">Add Rule</a>
                </li>
                {% for rule in badge.rules %}
                    <li>
                        search
                        {{ rule.search }} value
                        {% if rule.stringValue %}
                            {{ rule.stringValue }}
                        {% elseif rule.numericValue %}
                            {{ rule.numericValue }}
                        {% elseif rule.isNullValue %}
                            null
                        {% elseif rule.isNotNullValue %}
                            not null
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock content %}