{% extends 'ATMBadgeBundle:Badge:base.html.twig' %}

{% block content %}
    {% if errors is iterable %}
        {% for error in errors %}
            {{ error }}
        {% endfor %}
    {% endif %}
    <form action="{{ path('atm_badge_create_rules',{ 'badgeId':badge.id }) }}" method="post">
        <fieldset>
            <legend>Badge</legend>
            {{ badge.name }}
        </fieldset>

        <fieldset>
            <legend>Search</legend>
            {{ form_widget(form.search) }}
        </fieldset>

        <fieldset>
            <legend>String Value</legend>
            {{ form_widget(form.stringValue) }}
        </fieldset>

        <fieldset>
            <legend>Numeric Value</legend>
            {{ form_widget(form.numericValue) }}
        </fieldset>

        <fieldset>
            <legend>Null Value</legend>
            {{ form_widget(form.isNullValue) }}
        </fieldset>

        <fieldset>
            <legend>Not Null Value</legend>
            {{ form_widget(form.isNotNullValue) }}
        </fieldset>

        {{ form_rest(form) }}
        <input type="submit" value="Save">
    </form>
{% endblock content %}